//
// Sass file
// Common pages elements
//

html{
    background-image: url(../../assets/toulouse.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}
.title{
    font-size: 1.8vw;
    font-weight: bold;
}
.text{
    font-size: 1.4vw;
}

.annotation{
    font-size: 1vw;
    font-style: italic;
}

.anchor{
    display: block;
    height: 120px; /*same height as header*/
    margin-top: -120px; /*same height as header*/
    visibility: hidden;
  }

.box-index {
    border: 3px solid #c0c0c0;
}

.pageActuelle{
    background-color: #5EB6DD !important;
}

.lateral-nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    top: 50%;
    transform: translateY(-50%);
    border: 3px solid #c0c0c0;
    background-color: cornsilk;
    height: 50%;
    width: 14%;
    .button{
        color: #000000 !important;
        text-decoration: none !important;
        transition: background-color 0.5s ease;
        display: flex;
        align-items: center;
        height: inherit;
        width: 98%;
        padding-left: 5px;
        font-family: 'Chelsea Market', cursive;
        font-size: 1vw;
    }
    a:hover{
        background-color: #B09F91;
    }
}

.lien{
    color: #000000 !important;
    text-decoration: none !important;
    font-style: italic;
    font-weight: bold;
}

.header {
    position: -webkit-sticky;
    position: sticky;
    top : 0 ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    border: 3px solid #c0c0c0;
    background-color: #C4D7ED;
    align-items: center;
    width: 80%;
    img{
        max-width: 100%;
        height: auto;
    }
    
    .buttons{
        width: inherit;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        a{
            transition: background-color 0.75s ease;
            color: #000000 !important;
            text-decoration: none !important;
            font-family: 'Chelsea Market', cursive;
            font-size: 1.2vw;
            background-color: #318CE7;
        }
        a:hover{
            background-color: #375D81;
        }
    }
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        height: 3em;
        border: 3px solid #c0c0c0;
    }
  }

.content{
    border: 3px solid #c0c0c0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #C4D7ED;
    text-align: justify;
    align-items: center;
    padding: 30px 60px;
    font-size: 25px;

    
    a{
        &:visited{
            color: blue;
            &:hover{
                color: darkblue;
            }
        }
        a:hover{
        color: darkblue;
        }
    }

    .duo{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;;
        img{
            max-width: 40%;
        }
    }

    .trio{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;;
        img{
            max-width: 30% !important;
        }
    }
    img{
        border: 1px solid gray;
        display: block;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        
    }
}

.footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    height: fit-content;
    width: 60%;
    border: 3px solid #c0c0c0;
    background-color: #C4D7ED;
    .link{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 1.2vw;
    }
}

.arrow{
    position: fixed;
    bottom: 2%;
    right : 0;
    width: 150px;
    height: 150px;
    .button{
        width: inherit;
        height: inherit;
        img {
            width: inherit;
            height: inherit;
        }
    }
}


/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 600%;
    background-color: #555;
    color: #fff;
    font-size: 1vw;
    text-align: justify;
    border-radius: 6px;
    padding: 8px 8px;
    position: absolute;
    bottom: 125%;
    left: -100%;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

table {
    border: medium solid #6495ed;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

th {
    font-family: monospace;
    border: thin solid #6495ed;
    width: 70%;
    padding: 5px;
    background-color: #D0E3FA;
    background-image: url(sky.jpg);
}

td {
    font-family: sans-serif;
    border: thin solid #6495ed;
    width: 30%;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
}

caption {
    font-family: sans-serif;
}
