//
// Index style sheet
// sass-lang.com
//

#index
{
    background-color: #E1E6FA;
    .title {
        height: 100px;
        width: 1100px;
        img {
            width: inherit;
            height: inherit;
        }
    }

    .content {
        margin: auto;
        .container{
            display: flex;
            flex-direction: row;
             justify-content: center;
            align-items: stretch;
        }
    }
}
